<div class="mat-elevation-z2" style = "margin-top : 2%">
  <mat-form-field style = "width:100%; margin-bottom : 2%" appearance="fill" >
    <mat-label for="name">Sentence</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. I need help with..." id="name" type="text" [formControl]="name">
  
   <!--  <input type="text" [(ngModel)]="employeeDetails.name" class="form-control" placeholder="Name"> -->

    <mat-hint align="start"><strong>Enter a sentence and paraphrase</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field>
  <div style = "display: flex; justify-content : center; padding: 3%; margin-top : 2%">
  <button type="button" (click)="search()" mat-raised-button color="primary">Generate</button>
  </div>
</div>

<div *ngIf="searchPrompt">  
  <app-basic-table search = {{searchPrompt}}></app-basic-table>
</div>
  
<mat-divider></mat-divider>
     