
<mat-card class="main-div" >

  <mat-card class="mat-elevation-z2" style="color:rgba(0,0,0,.54); background-color: rgb(232, 240, 254);">
    <mat-card-title>Search users manual</mat-card-title>
    <mat-card-subtitle style="color:rgba(0,0,0,.54);">version: 40, 10/20/22</mat-card-subtitle>
  </mat-card>
  <mat-card class="mat-elevation-z2" style = "margin-top:2%" >
  <mat-card-actions>
    <button mat-button><a routerLink="/prompt" routerLinkActive="active" >Search</a></button>
    <button mat-button><a routerLink="/file-upload" routerLinkActive="active" >Upload file</a></button>
    <button mat-button><a routerLink="/form" routerLinkActive="active" >Setting</a></button>
  </mat-card-actions>
  </mat-card>

  <router-outlet></router-outlet>

</mat-card>