 <!-- <p>app-basic-table works!</p> -->
<mat-table [dataSource]="snippets" class="mat-elevation-z2" style = "margin-top : 2%" >

  <!-- Position Column -->
  <ng-container matColumnDef="results">
    <mat-header-cell *matHeaderCellDef > Results</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element}} </mat-cell>
  </ng-container>
    
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
  
